* {
  margin: 0px;
  border: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right, rgb(12, 124, 203), rgb(131, 15, 209));
  color: rgb(247, 247, 247);
}

.btnVolver{
    font-size: 20px;
    font-weight: bold;
    color: rgb(247, 247, 247);
    background-color: rgb(12, 124, 203);
    height: 40px;
    border-radius: 8px;
}

.contenedor{
    margin: 16px;
}

.contenedor_section{
    margin-bottom: 20px;
}

h2 {
    margin-top: 16px;
    margin-bottom: 16px;
    color:  rgb(0, 64, 128);
}

h3 {
    color:  rgb(2, 104, 205);
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
}

h4 {
    color:  rgb(2, 104, 205);
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}



p{
    margin-top: 8px;
    margin-bottom: 8px;
}

.comandos{
    height: 20px;
    width: 220px;
    color: rgb(96, 229, 255);
    background-color: rgb(62, 14, 104);
    border-radius: 4px;
}
.notaImportante, .ejemplos{
    margin-top: 20px;
    padding: 8px;
    background-color: rgb(122, 183, 244);
    border-radius: 8px;
}

@media screen and (min-width: 650px) and (max-height: 1024px){
    header {
        height: 100px;
      }

    h1 {
        font-size: 60px;
    }

    .btnVolver{
        font-size: 36px;
        height: 64px;
        width: 160px;
        border-radius: 20px;
    }

    .contenedor{
        margin: 40px;
    }

    .contenedor_section{
        margin-bottom: 48px;
    }

    h2{
        font-size: 44px;
    }

    h3{
        font-size: 36px;
    }

    h4 {
        font-size: 32px;
    }

    p, strong{
        margin-top: 12px;
        margin-bottom: 8px;
        font-size: 24px;
        
    }

    li {
        font-size: 24px;
        margin-top: 8px;
        margin-bottom: 12px;
    }
    .comandos{
        width: 360px;   
        height: 36px;     
    }    
}

